{% extends 'base.html.twig' %}

{% block title %}Editer l'annone {{ad.title}} {% endblock %}

{% block body %}
    <div class="container">
        <h1>Editer l'annonce : {{ad.title}}</h1>

        {{ form_start(form)}}

        {{form_widget(form)}}

        <button class="btn btn-primary" type="submit">Créer une annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}