{% extends 'base.html.twig' %}

{% block title %}Editer l'annone {{ad.title}} {% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1>Editer l'annonce : {{ad.title}}</h1>

        {{ form_start(form)}}

        {{form_widget(form)}}

        <button class="btn btn-primary" type="submit">Modifier votre annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}



{% block javascripts %}
<script>
    $('#add-image').click(function(){
        const index = +$('#widgets-counter').val();
        const tmpl = $('#ads_images').data('prototype').replace(/__name__/g, index);
        $('#ads_images').append(tmpl);

        $('#widgets-counter').val(index + 1);

        handleDeleteButtons();
    });

function updateCounter(){
    const count = +$('#ads_images div.form-group').length;

    $('#widgets-counter').val(count);
}

function handleDeleteButtons(){
    $('button[data-action="delete"]').click(function(){
        const target = this.dataset.target
        console.log(target);
        $(target).remove();
    });
}
updateCounter();
handleDeleteButtons();
</script>
{% endblock %}