{% extends 'base.html.twig' %}

{% block title %}{{ad.title}}{% endblock %}

{% block body %}
<style>
    .container{padding-top: 150px;}
</style>

<div class="container content-ad-page">
        <div class="row content-ad-rent">
            <div class="col-sm-8">
                <h5 class="rent-info-space">Logement entier</h5>
                <h3>{{ad.title}}</h3>
                <span class="city-ad">Paris</span>
               
                <div class="ad-description">
                    <h1>Description</h1>
                    <p>{{ad.description}}</p>
                   
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">  
                    <div class="card-body">
                        <p class="card-info-1">
                            <span class="card-parameter-price">{{ ad.price }}</span> € par nuit
                        </p>
                        <p class="card-info-2">
                            <span class="card-parameter-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="card-parameter-vote">124</span> . <a href="{{ path('user_show', {'slug': ad.author.slug} ) }}"><span class="card-parameter-rank">{ <span class="text-uppercase"></span></span></a>    
                        </p>
                        <h6>Voyageurs</h6>
                        <select name="n-voyageur" id="n-voyageur">
                            <option value="1 Voyageur">1 Voyageur</option>
                            <option value="2 Voyageurs">2 Voyageur</option>
                        </select>
                        <div class="row bill-calcul">
                            <div class="col-sm-6">
                                {{ad.price}}€ x 1 nuit
                            </div>
                            <div class="col-sm-6 text-right">
                                60€
                            </div>
                        </div>
                        <div class="row bill-calcul">
                            <div class="col-sm-6">
                                Frais de service
                            </div>
                            <div class="col-sm-6 text-right">
                                9€
                            </div>
                        </div>
                        <div class="row bill-calcul-total">
                            <div class="col-sm-6">
                                Total
                            </div>
                            <div class="col-sm-6 text-right">
                                69€
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid content-ad-gallery">
            <div class="row"> 
                    <div class="col-sm-6 img-gallery-left">
                        <img src="{{ad.image}}" alt="{{ad.slug}}">
                    </div>   
                    <div class="col-sm-6 img-gallery-right"> 
                        <div class="row"> 
                        {% for item in ad.imagesGallery %}
                            <div class="col-sm-6 img-gallery-right-item">
                                <img src="{{item.url}}" alt="{{item.caption}}">
                            </div>
                        {% endfor %}
                        </div> 
                    </div>   
            </div> 
    </div>

{% endblock %}
