{% extends 'base.html.twig' %}

{% block title %}{{ad.title}}{% endblock %}

{% block body %}

<div class="container content-ad-page">
        
        <div class="row content-ad-rent">
            <div class="col-sm-8">
                <h3>{{ad.title}}</h3>
                <span class="city-ad">Paris - Chambre disponible <span class="text-primary">{{ad.rooms}}</span>}</span>
               
                <img src="{{ad.coverImage}}" class="img-fluid" alt="Responsive image">

                <div class="ad-description">
                    <h1>Description</h1>
                    <p>{{ad.introduction}}</p>
                   
                    <p>{{ ad.content | raw }}</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">  
                    <div class="card-body">
                        <p class="card-info-1">
                            <span class="card-parameter-price">{{ ad.price }}</span> € par nuit
                        </p>
                        <p class="card-info-2">
                            <span class="card-parameter-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="card-parameter-vote">124</span> <a href=""><span class="card-parameter-rank">
                                 <span class="text-uppercase"></span></span></a>    
                        </p>
                        <h6>Voyageurs</h6>
                        <select name="n-voyageur" id="n-voyageur">
                            <option value="1 Voyageur">1 Voyageur</option>
                            <option value="2 Voyageurs">2 Voyageur</option>
                        </select>
                        <div class="row bill-calcul">
                            <div class="col-sm-6">
                                {{ad.price}}€ x 1 nuit
                            </div>
                            <div class="col-sm-6 text-right">
                                60€
                            </div>
                        </div>
                        <div class="row bill-calcul">
                            <div class="col-sm-6">
                                Frais de service
                            </div>
                            <div class="col-sm-6 text-right">
                                9€
                            </div>
                        </div>
                        <div class="row bill-calcul-total">
                            <div class="col-sm-6">
                                Total
                            </div>
                            <div class="col-sm-6 text-right">
                                69€
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </div>

{% endblock %}
