{% extends 'base.html.twig' %}

{% block title %}Profil de {% endblock %}

{% block body %}
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{user.picture}}" alt="Circle Image" class="img-raised rounded-circle mx-auto d-block">
                        </div>
                        <div class="name">
                            <h3 class="title text-center mt-2">{{user.firstName}} {{user.lastName}}</h3>
                            <p class="text-center mt-10">{{user.ads | length}} Annonces en ligne</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>{{user.introduction}}</p>
                <hr/>
                {{user.description}}
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random&#10;">
                            <div class="card-block">
                                <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                <div class="meta">
                                    <a href="#">Friends</a>
                                </div>
                                <div class="card-text">
                                    Tawshif is a web designer living in Bangladesh.
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="float-right">Joined in 2013</span>
                                <span><i class=""></i>75 Friends</span>
                            </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    
 

    
        </div>
    </div>
	</div>
{% endblock %}
