{% extends 'base.html.twig' %}

{% block title %}Profil de {% endblock %}

{% block body %}
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{user.picture}}" alt="Circle Image" class="img-raised rounded-circle mx-auto d-block">
                        </div>
                        <div class="name">
                            <h3 class="title text-center mt-2">{{user.firstName}} {{user.lastName}}</h3>
                            <p class="text-center mt-10">{{user.ads | length}} Annonces en ligne</p>
                            <div class="row">
                                {% if user is same as (app.user) %}
                                <div class="col-md-6">
                                    <a href="{{path('account_profile')}}" class="btn btn-dark">Modifier mes information</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{path('account_update_password')}}" class="btn btn-dark">Modifier mon mot de passe</a>
                                </div>
                                {% endif %}         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>{{user.introduction}}</p>
                <hr/>
                {{user.description}}
                <hr/>
            </div>
            {% if user.ads | length > 0 %}
            <div class="row">
                {% for ad in user.ads %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" style="min-width: 250px" src="{{ad.coverImage}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ad.title|striptags|slice(0,25)}}</h5>
                            <p class="card-text">{{ad.introduction |striptags|slice(0,75)}} ...</p>
                            <a href="{{path('ads_show', {'slug' : ad.slug })}}" class="btn btn-primary">Voir l'annonce</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="alert alert-warning">
                    Il n'y pas d'annonce sur ce compte
                </div>
            {% endif %}
        </div>
    
 

    
        </div>
    </div>
	</div>
{% endblock %}
