{% extends 'base.html.twig' %}

{% block title %}Profil de {% endblock %}

{% block body %}
<div class="container content-base">
    <div class="row ">
        <div class="col-2">
            <img src="{{user.picture}}" alt="{{user.slug}}" class="rounded-circle ">
            <p>{{user.firstName}} {{user.lastName}}</p>
            <span>Mon Compte</span>
            <ul>
                <li>
                    <a class="dropdown-account" href="{{ path('account_profile') }}"><i class=" fas fa-info-circle"></i> Modifier mes informations</a>
                </li>
                <li>
                    <a class="dropdown-account" href="{{ path('account_update_password') }}"><i class="fas fa-key"></i> Changer de mot de passe</a>
                </li>
            </ul>
        </div>
        <div class="col-7">
            <div class="block-profile">
                <p class="text-muted" >Mes réservations</p>
                {% for booking in app.user.bookings %}
                <div class="row booking-profile justify-content-center">
                    <div class="col-11 booking-profile-ligne" >        
                        <img class="align-middle" src="{{booking.ad.coverImage}}" alt="{{booking.ad.slug}}">        
                        <div class="info-booking-profile">
                            <span><strong>{{booking.ad.title}} n°{{ booking.id }}</strong></span>      
                            <span> Du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}} Montant {{booking.amount}} &euro;</span>
                            <span>
                                <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-sm">Voir réservation</a>
                                <a href="{{ path('account_bookings_comment', {'id': booking.id}) }} " class="btn btn-sm">Laisser un commentaire</a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="block-profile">
                <p class="text-muted" >Mes Annonces</p>
                {% if user.ads | length > 0 %}
                <div class="row ad-profile">
                    {% for ad in user.ads %}
                    <div class="col-3">
                        <a href="{{path('ads_show', {'slug' : ad.slug })}}" ><img src="{{ad.coverImage}}" alt="Card image cap"></a>
                    </div>
                    {% endfor %}
                </div>
                </div>
                {% else %}
                    <div class="alert alert-warning">
                        Il n'y pas d'annonce sur ce compte
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-3">
            <div>
                <p class="text-muted">Description</p>
                <p>{{user.description}}</p>
                <p class="text-muted">Ville</p>
                <p>{{user.city}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
