{% extends 'base.html.twig' %}

{% block title %}Profil de {% endblock %}

{% block body %}
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{user.picture}}" alt="Circle Image" class="img-raised rounded-circle mx-auto d-block">
                        </div>
                        <div class="name">
                            <h3 class="title text-center mt-2">{{user.firstName}} {{user.lastName}}</h3>
                            <p class="text-center mt-10">{{user.ads | length}} Annonces en ligne</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>{{user.introduction}}</p>
                <hr/>
                {{user.description}}
            </div>
            {% if user.ads | length > 0 %}
            <div class="row">
                {% for ad in user.ads %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" style="max-width: 300px" src="{{ad.coverImage}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ad.title|striptags|slice(0,25)}}</h5>
                            <p class="card-text">{{ad.introduction |striptags|slice(0,75)}} ...</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    
 

    
        </div>
    </div>
	</div>
{% endblock %}
