{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h2>Votre réservation n° {{booking.id}}</h2>
    <div class="row">
        <div class="col-6">
            <div class="alert alert-light">
                <h2>Détails</h2>
                <dl class="row">
                    <dt class="col-md-4">Numéro</dt>
                    <dd class="col-md-8">{{booking.id}}</dd>
                    <dt class="col-md-4">Date d'arrivée</dt>
                    <dd class="col-md-8">{{booking.startDate | date('d/m/y')}}</dd>
                    <dt class="col-md-4">Date de départ</dt>
                    <dd class="col-md-8">{{booking.endDate | date('d/m/y')}}</dd>
                    <dt class="col-md-4">Nombre de nuit</dt>
                    <dd class="col-md-8">{{booking.duration}}</dd>
                    <dt class="col-md-4">Montant total</dt>
                    <dd class="col-md-8">{{booking.amount}} &euro;</dd>
                    <dt class="col-md-4">Commentaire</dt>
                    <dd class="col-md-12">{{booking.comment}}</dd>
                </dl>
                <hr>
                <h2 class="alert-heading">Votre hôte</h2>
                <div class="row">
                    <div class="col-3"><img class="rounded-circle w-75" src="{{booking.ad.author.picture}}" alt=""></div>
                    <div class="col-9">
                        <h4>
                            <a href="{{ path('user_show', {'slug': booking.ad.author.slug}) }}">{{booking.ad.author.firstName}}</a>
                            <span class="badge badge-primary">
                                {{booking.ad.author.ads|length}} annonces
                            </span>
                          
                        </h4>
                        <p>
                            {{booking.ad.author.description|raw}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="alert alert-light">
                <h2 class="alert-heading">Votre hébergement</h2>
                <h4>
                    <a href="{{ path('ads_show', {'slug': booking.ad.slug}) }}">{{booking.ad.title}}</a>
                </h4>
                <img class="w-100" src="{{booking.ad.coverImage}}" alt="">
                {{booking.ad.content | raw}}
            </div>
        </div>
    </div>
</div>
{% endblock %}