{% extends 'base.html.twig' %}

{% block title %}Vos réservation{% endblock %}

{% block body %}
<div class="container"> 
        <h4>Mes Réservation</h4>
        <div class="row">
           {% for booking in app.user.bookings %}
           <div class="col-4">
               <img src="{{booking.ad.coverImage}}"  class="w-100" alt="">
               {{booking.ad.title}}
           </div>
           <div class="col-8">
               <h4>{{booking.ad.title}}</h4>
               <p>Réservation <strong>n°{{ booking.id }}</strong><br>
                    Du {{booking.startDate|date('d/m/Y')}} au {{{{booking.endDate|date('d/m/Y')}}}}
                </p>
           </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}